@keyframes opa {
	from{opacity: 1;}
	50%{opacity: 0.2;}
	
	
}

h1{color: black;
 }
html{margin: 0;padding: 0;}
body {	
	min-width: 100%;
	padding:0;
	margin: 0;
	height:100vh;
	background-color: black;
	/* border: 1px solid green; */
}

.calc {position: relative;
	
	margin-top:auto;
	width: 100%;
	height:100%;
	padding: 0;
	margin:0;
	/* border: 1px solid yellow; */
	opacity: 1;
	}

	.calc::before{
		
		height:100%;
		width:100%;
		min-width: 450px;
		content: '';
		position: absolute;
		background: url('light.jpg') no-repeat 50% 80% ;
		background-size: 100%;
		
		/* border: 1px solid red; */
		animation: opa 7s infinite;
		
	}

	.calcContainer::before{
		content: '';
		width: 100%;
		height:100%;
		overflow: hidden;
		position: absolute;
		top: 0px;
		left: 0px;
		background: url('light.jpg') no-repeat 49.3% 30%;
		background-size: 250%;
		border-radius: 8%;
		box-shadow: 0px 0px 3px 3px inset,
								0px 0px 3px 3px ;
		
		
		animation: opa 7s infinite	;
	}


	

.output {
	display: block;
	width: 90%;
	height: 70px;
	background-color: azure;
	margin: auto;
	margin-bottom: 5px;
	border-radius: 10%;
	text-align: end;
	font-size: 40px;
	border: 2px solid rgb(64, 18, 18);
	box-shadow: 0 0 2px 2px rgb(79, 19, 19) inset;
	overflow: hidden;}
.buttons input {
	width: 30%;
	height: 59px;
	border-radius: 30%;
	margin-bottom: 3px;
	box-shadow: 0 0 1px 1px;
	font-weight: bold;
	text-shadow: 0px 0px 1px rgb(84, 25, 25);}

.buttons {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: auto;
	margin-left:10px;
}



.blo{display: flex;
	justify-content: space-between;

}
.blockButtons {
	
	width: 60%;
	}
.calculate{
	width:30%
}
.calculate input {
	width: 60px;
	height: 30px;
	display: block;
	margin-bottom: 7.3px;
	border-radius: 30%;
	box-shadow: 0 0 1px 1px;
	font-weight: bold;
	text-shadow: 0px 0px 1px rgb(84, 25, 25);}
.calculate input:last-child {
	width: 80px;
	height: 40px;
	
	margin-left: -20px;
	
	}
.nullButton input {
	width: 55px;
	height: 40px;
	position: absolute;
	bottom:10px;
	left:13px;
	border-radius: 30%;}
.buttons input.comma{
	width: 55px;
	height: 40px;
	position: absolute;
	bottom:10px;
	left:74px;
	

}



.calcContainer {
	position: relative;
	
	bottom:-15%;
	
	display:flex;
	justify-content: space-around; 
margin-top: auto;
width: 450px;
height: 330px;
border: 3px solid rgb(70, 32, 32);
background-color: hsl(342, 95%, 29%, 0.05);
margin-right: auto;
margin-left: auto;

border-radius: 15px;

/* transform: scale(1); */
z-index: 2;
opacity: 1;
border: 1px solid violet;
border-style: ridge;
box-shadow: 0px 0px 6px 3px;


}


.form {

	
	position: relative;
	width: 55%;
	margin-top: 10px;
	
	
	
	
	
	
}
.formBar {
	position: relative;
	margin-top: 10px;
	margin-right: 0px;
	min-width: 170px;
	height: 50%; 
	
	
	
	}


.outputBar {
	display: block;
	width: 90%;
	height: 100%;
	background-color: azure;
	margin: auto;
	margin-bottom: 5px;
	border-radius: 6%;
	text-align: end;
	font-size: 20px;
	border: 2px solid rgb(64, 18, 18);
	box-shadow: 0 0 2px 2px rgb(79, 19, 19) inset;
	overflow-y: scroll;
outline: none;
resize: none;}
	.outputBar::-webkit-scrollbar {
    background-color: rgba(30, 8, 43,0.9);
		border-radius: 7px;
}
.outputBar::-webkit-scrollbar-thumb {
	background-color: black;
	border-radius: 7px;
}


.outputBar::-webkit-scrollbar-track {
	
	background-color: black;
	border-radius: 7px;
}