@keyframes opa {
	from{opacity: 1;}
	50%{opacity: 0.3;}
	
	
}



body {	
	padding:0;
	margin: 0;
	height:100vh;
	background-color: black;
	border: 1px solid green;
}

.calc {position: relative;
	margin-top:auto;
	height:100vh;
	margin-right: auto;
	margin-left: auto;

	border: 1px solid yellow;
	opacity: 1;
	}

	.calc::before{
		height:100vh;
		width:100%;
		content: '';
		position: absolute;
		background: url('light.jpg') no-repeat 50% 50%;
		background-size: cover;
		border: 1px solid red;
		animation: opa 7s infinite;
	}

	.calcContainer::before{
		content: '';
		width: 100%;
		height:100%;
		overflow: hidden;
		position: absolute;
		top: 0px;
		left: 0px;
		background: url('light.jpg') no-repeat 49.3% -30%;
		background-size: 250%;
		border-radius: 8%;
		
		
		
		animation: opa 7s infinite	;
	}

	.calcContainer {
		
	margin-top: auto;
	width: 240px;
	height: 330px;
	border: 3px solid rgb(70, 32, 32);
	background-color: hsl(342, 95%, 29%, 0.05);
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
	box-shadow: 0px 0px 3px 3px;
	transform: scale(1);
	z-index: 2;
	opacity: 1;}
	
	
.form {
	z-index: 2;
	position: absolute;
	width: 300px;
	margin-top: 10px;
	margin-left: -30px;}
.output {
	display: block;
	width: 70%;
	height: 70px;
	background-color: azure;
	margin: auto;
	margin-bottom: 5px;
	border-radius: 10%;
	text-align: end;
	font-size: 40px;
	border: 2px solid rgb(64, 18, 18);
	box-shadow: 0 0 2px 2px rgb(79, 19, 19) inset;
	overflow: hidden;}
.buttons input {
	width: 40px;
	height: 59px;
	border-radius: 30%;
	margin-bottom: 3px;
	box-shadow: 0 0 1px 1px;
	font-weight: bold;
	text-shadow: 0px 0px 1px rgb(84, 25, 25);}
.blockButtons {
	float: left;
	width: 50%;
	margin-left: 38px;}
.buttons {
	width: 100%;
	text-align: center;
	margin: auto}
.calculate input {
	width: 60px;
	height: 30px;
	display: block;
	margin-bottom: 8px;
	border-radius: 30%;
	box-shadow: 0 0 1px 1px;
	font-weight: bold;
	text-shadow: 0px 0px 1px rgb(84, 25, 25);}
.calculate input:last-child {
	width: 80px;
	height: 40px;
	margin-left: auto;
	margin-right: 50px;
	float: right;}
.nullButton input {
	width: 50px;
	height: 40px;
	margin-left: 40px;
	border-radius: 30%;}
.buttons input.comma{
	width: 50px;
	height: 40px;
	margin-right: 10px;
	float: right;

}