body{background-color: rgb(69, 64, 143);}
.calcContainer{width:500px;height:300px;
     border:1px solid black;
     background-color: hsl(342, 37%, 43%);
     margin-right:auto;
     border-radius: 20px;
     }

.form{width:300px;
    border:1px solid blanchedalmond;
    margin:auto;
    }     

.output{
    display:block;
    width:70%;
    height: 70px;
    background-color: azure;
    margin: auto;}
.buttons input{
    width:40px;
    height:59px;
 }
 .blockButtons{float: left;
     width:50%;
    
    margin-left:38px;}
.buttons{
    width:90%;
text-align:center;
margin:auto}
.calculate input{width:60px;
    height: 30px;
display:block;
margin-bottom:7px;}
.calculate input:last-child{
    width:100px;
    height:40px;
    margin-left:auto;
    margin-right: 50px;
    float: right;
}
.nullButton input{width:100px;
height:40px;
margin-left:25px;}